@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Sans:wght@400;700&display=swap');
@import 'search.css';
@import 'burger.css';
@import 'header.css';
@import 'main-settings-category.css';
@import 'checkbox.css';
@import 'scrollbar.css';
@import 'settings.css';
@import 'items.css';
* {
  font-family: var(--ff-PT-Sans);
  color: var(--color-font-main);
}
.shadow-number {
  font-style: normal;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-font-second);
}
body {
  overflow-x: hidden;
}
