@import 'reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=PT+Sans:wght@400;700&display=swap');
@import 'search.css';
@import 'burger.css';
@import 'header.css';
@import 'main-settings-category.css';
@import 'checkbox.css';
@import 'scrollbar.css';
@import 'settings.css';
* {
  font-family: var(--ff-PT-Sans);
  color: var(--color-font-main);
}
.shadow-number {
  font-style: normal;
  padding-right: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: var(--color-font-second);
}

.card-top {
  position: relative;
  background-color: #f8f8f8;
}
.card-hit {
  padding: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  gap: 6px;
  top: 12px;
  left: 12px;
  position: absolute;
  background: #ffffff;
  border: 1px solid var(--scroll-bar);
  border-radius: 4px;
  cursor: default;
}
.card-sale {
  padding: 6px 10px;
  background: var(--color-brand);
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  bottom: 12px;
  left: 12px;
}
.card-sale:hover {
  color: var(--color-white);
  background: var(--color-font-hover);
  transition: all 0.3s ease-in-out;
}
.card-sale-text {
  color: var(--color-white);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}
.card-product {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card-brand {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}
.card-price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  position: relative;
}
.card-price::after {
  content: '5 990₽';
  position: absolute;
  left: 58px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-font-second);
  text-decoration: line-through;
}
.card-bottom {
  padding-top: 16px;
}
.card-desc {
  padding: 8px 0 16px 0;
}
.card-price {
  padding-bottom: 16px;
}
.card-buy {
  padding: 12px 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 14px;
  color: var(--color-brand);
  border: 1px solid var(--color-brand);
  border-radius: 4px;
}
.card-buy:hover {
  color: var(--color-white);
  border: 1px solid var(--color-white);
  transition: all 0.3s ease-in-out;
  background-color: var(--color-font-hover);
}
.items__card {
  cursor: pointer;
  display: grid;
  grid-template-rows: 200px auto;
}

.card-null-button {
  margin-top: 25px;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid var(--color-font-second);
  border-radius: 4px;
}

.items__row {
  gap: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
}
.items__card img {
  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -ms-transition: all 1s ease; /* IE 9 */
  -o-transition: all 1s ease; /* Opera */
  transition: all 1s ease;
}

.items__card:hover img {
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.25); /* Safari and Chrome */
  -moz-transform: scale(1.25); /* Firefox */
  -ms-transform: scale(1.25); /* IE 9 */
  -o-transform: scale(1.25); /* Opera */
  transform: scale(1.25);
}

.items__card:hover .card-desc {
  color: var(--color-font-hover);
}

@media (max-width: 929px) {
  .items__row {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
@media (max-width: 646px) {
  .items__row {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(165px, 1fr));
  }
  .settings {
    display: none;
  }
  .main__container {
    grid-template-columns: auto auto;
  }
  .items {
    padding-left: 15px;
  }
}
@media (max-width: 425px) {
  .items__row {
    gap: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
  }
  .settings {
    display: none;
  }
  .main__container {
    grid-template-columns: auto auto;
  }
  .items {
    padding-left: 15px;
  }
}
