@import 'constants.css';

.main__container {
  gap: 36px;
  display: grid;
  grid-template-columns: 14% auto;
}
@media (max-width: 540px) {
  .main__container {
    display: grid;
    grid-template-columns: 40% auto;
  }
}

@media (max-width: 1100px) {
  .main__container {
    display: grid;
    grid-template-columns: 20% auto;
  }
}
@media (max-width: 560px) {
  .main__container {
    display: grid;
    grid-template-columns: 25% auto;
  }
}
@media (max-width: 460px) {
  .main__container {
    display: grid;
    grid-template-columns: 30% auto;
  }
}
@media (max-width: 400px) {
  .main__container {
    display: grid;
    grid-template-columns: 32% auto;
    gap: 10px;
  }
}

.category-item {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  padding: 10px 0px 10px 5px;
  line-height: 16px;
  align-items: center;
  display: flex;
}
.category-tag {
  flex: 1 1 auto;
}

.category-item:hover {
}
.category-item:hover {
  transition: all 0.3s ease-in-out;
  background-color: var(--color-font-bg);
  border-radius: 5px;
}
.settings__category-sub-item {
  padding-top: 6px;
}
.settings__category-sub-list {
  padding-left: 20px;
}
.category-item-active {
  transition: all 0.3s ease-in-out;
  background-color: var(--color-font-bg);
  border-radius: 5px;
}
.category-item-active span {
  color: var(--color-font-main);
}
