:root {
  /* ------------- Color Scheme -------------*/
  --color-font-main: #333333;
  --color-font-second: #aaaaaa;
  --color-font-hover: #125bae;
  --color-font-bg: #e2efff;
  --color-font-history: #5a0488;
  /* ------------- Color Scheme -------------*/

  /* ------------- Brand -------------*/
  --color-brand: #7397f5;
  /* ------------- Brand -------------*/

  /* ------------- Other -------------*/
  --color-border: #d5d5d5;
  --color-icons: #cbcbcb;
  --scroll-bar: #f2f2f2;
  --color-white: #ffffff;
  --ff-Inter: 'Inter', sans-serif;
  --ff-PT-Sans: 'PT Sans', sans-serif;
  /* ------------- Other -------------*/
}
